.cards{
    .left-cards{
        .place-card{
            background-image: url('../public/assets/images/bg-today-large.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
}